*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, Tahoma, sans-serif;
}

body{
  background:#0f172a;
  color:#e5e7eb;
  line-height:1.6;
}

/* HEADER */
header{
  background:#020617;
  padding:20px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* MENU */
nav{
  display:flex;
  align-items:center;
}

nav a{
  color:#e5e7eb;
  margin-left:15px;
  text-decoration:none;
  font-weight:600;
  font-size:17px;
  padding:12px 22px;
  border-radius:10px;
  transition:0.3s;
}

nav a:hover{
  background:#38bdf8;
  color:#020617;
}

/* HERO */
.hero{
  padding:100px 20px;
  text-align:center;
  background:linear-gradient(135deg,#020617,#0f172a);
}

.hero h1{
  font-size:3rem;
  margin-bottom:15px;
}

.hero p{
  max-width:700px;
  margin:auto;
  color:#cbd5f5;
}

/* BOTÃO */
.btn{
  display:inline-block;
  margin-top:30px;
  padding:15px 40px;
  background:#38bdf8;
  color:#020617;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
  transition:.3s;
}

.btn:hover{
  background:#0ea5e9;
  transform:scale(1.05);
}

/* SEÇÕES */
.section{
  padding:70px 20px;
  max-width:1200px;
  margin:auto;
}

.section h2{
  text-align:center;
  margin-bottom:40px;
  font-size:2.2rem;
}

/* CARDS */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.card{
  background:#020617;
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 25px rgba(0,0,0,.5);
}

.card h3{
  color:#38bdf8;
  margin-bottom:10px;
}

/* FOOTER */
footer{
  background:#020617;
  padding:30px;
  text-align:center;
  margin-top:60px;
  color:#94a3b8;
}

/* LOGO DESKTOP */
.logo{
  height:200px;
  width:auto;
}

/* ===== RESPONSIVO (CELULAR) ===== */
@media (max-width: 768px){

  header{
    flex-direction:column;
    gap:15px;
    padding:20px;
  }

  /* LOGO NO CELULAR */
  .logo{
    height:110px;
  }

  nav{
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
  }

  nav a{
    margin:0;
    font-size:15px;
    padding:10px 18px;
  }

  .hero{
    padding:70px 15px;
  }

  .hero h1{
    font-size:2.1rem;
  }

  .hero p{
    font-size:1rem;
  }

  .btn{
    padding:14px 30px;
    font-size:15px;
  }

  .section{
    padding:60px 15px;
  }

  .section h2{
    font-size:1.9rem;
  }
}
